<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Welcome</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>dbURL</param-name>
    <param-value>jdbc:mysql://localhost/contacdb</param-value>
  </context-param>
  <context-param>
    <param-name>dbUser</param-name>
    <param-value>contact_user</param-value>
  </context-param>
  <context-param>
    <param-name>dbUserPwd</param-name>
    <param-value></param-value>
  </context-param>
  
  <servlet>
    <servlet-name>Contact Form</servlet-name>
    <servlet-class>contactForm</servlet-class>
  </servlet>
</web-app>
